.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: .5rem;
      font-weight: bold;
    }
  }
}
