header,
section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  margin-bottom: 2rem;
}
